.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.nav-link {
    float: center;
    display: inline;
}

.nav-link a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link a:hover {
    background-color: #B1CBD1;
}

a:link, a:visited {
    background-color: pink;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

a:hover, a:active {
    background-color: #93A8AC;
}
