.article-component-item {
  padding: 40px;
  margin: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: 3px;
  border-color: #505168;
}

.article-component-item {
  display: grid;
  grid-template-columns: 100%;
  margin: 10px;
  justify-content: center;
  border: 3px;
  border-color: #505168;
}
